/* You can add global styles to this file, and also import other style files */
body{
    padding-bottom: 50px;
  }
  
  .main-container{
    margin-top: 20px;
  }
  
  
  
  
  
  
  /*Animaciones*/
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 3.4s;
    animation-duration: 3.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  /* marginTop:530,borderRadius:4 */